/* grab the section of the p:first child */
section > p:first-child{
    font-weight: bold;
    color: #0056b3; /* the reason for 6 numbers if rbg (00 = red, 00 = blue, 00 = green) the amount of each color in the overall color */
}

ul li:first-child {
    font-weight: bold;
}

table tr:hover {
    background-color: #f5f5f5;
}

audio:focus, video:focus, audio:hover, video:hover {
    outline: 2px solid #ff4500;
    cursor: pointer;
}

nav a:hover {
    color: yellow;
    text-decoration: underline;

}

img {
    width: 150px;
    height: 150px;
    border: 3px solid blue;
    border-radius: 50%;
    margin: 20px 0;
}

img:hover {
    border: 3px solid purple;
    border-style: double;
}

button {
    background-color: #0056b3;
    color: white;
    border-radius: 5%;
    padding: 10px 15px;
    border-style: hidden;
    border: none;
    transition: background-color 1.5s;
}

button:hover {
    background-color: #333333;
}