/* grab the section of the p:first child */
section > p:first-child{
    font-weight: bold;
    color: #0056b3; /* the reason for 6 numbers if rbg (00 = red, 00 = blue, 00 = green) the amount of each color in the overall color */
}

ul li:first-child {
    font-weight: bold;
}

table tr:hover {
    background-color: #f5f5f5;
}

audio:focus, video:focus, audio:hover, video:hover {
    outline: 2px solid #ff4500;
    cursor: pointer;
}

nav a:hover {
    color: yellow;
    text-decoration: underline;

}